---
import CreationCard from "./CreationCard.astro";

const creations = [
  { 
    title: "Deep Earth", 
    desktop: "/images/desktop/image-deep-earth.jpg",
    mobile: "/images/mobile/image-deep-earth.jpg"
  },
  { 
    title: "Night Arcade", 
    desktop: "/images/desktop/image-night-arcade.jpg",
    mobile: "/images/mobile/image-night-arcade.jpg"
  },
  { 
    title: "Soccer Team VR", 
    desktop: "/images/desktop/image-soccer-team.jpg",
    mobile: "/images/mobile/image-soccer-team.jpg"
  },
  { 
    title: "The Grid", 
    desktop: "/images/desktop/image-grid.jpg",
    mobile: "/images/mobile/image-grid.jpg"
  },
  { 
    title: "From Up Above VR", 
    desktop: "/images/desktop/image-from-above.jpg",
    mobile: "/images/mobile/image-from-above.jpg"
  },
  { 
    title: "Pocket Borealis", 
    desktop: "/images/desktop/image-pocket-borealis.jpg",
    mobile: "/images/mobile/image-pocket-borealis.jpg"
  },
  { 
    title: "The Curiosity", 
    desktop: "/images/desktop/image-curiosity.jpg",
    mobile: "/images/mobile/image-curiosity.jpg"
  },
  { 
    title: "Make it Fisheye", 
    desktop: "/images/desktop/image-fisheye.jpg",
    mobile: "/images/mobile/image-fisheye.jpg"
  }
];
---

<section class="max-w-6xl mx-auto px-6 pb-24">

  <div class="flex justify-center md:justify-between items-center mb-10">

    <h2 class="font-[Josefin_Sans] text-3xl uppercase">
      Our Creations
    </h2>

     <button class="hidden md:block border border-black px-10 py-2 tracking-[0.3em] hover:bg-black hover:text-white transition-colors duration-300">
      SEE ALL
    </button>

  </div>

  <div class="grid gap-6 md:grid-cols-4">

    {creations.map((item) => (
  <CreationCard
    title={item.title}
    desktop={item.desktop}
    mobile={item.mobile}
  />
))}

  </div>

    <div class="mt-10 flex justify-center md:hidden">
    <button class="w-full max-w-[180px] border border-black px-10 py-3 tracking-[0.3em] font-medium uppercase bg-white text-black transition-all duration-300 ease-in-out hover:bg-black hover:text-white active:bg-black active:text-white">
      SEE ALL
    </button>
  

  </div>

</section>