<section class="relative h-[500px] md:h-[650px]">

  
  <img
    src="/images/mobile/image-hero.jpg"
    alt="hero"
    class="absolute inset-0 w-full h-full object-cover md:hidden"
  />

  
  <img
    src="/images/desktop/image-hero.jpg"
    alt="hero"
    class="absolute inset-0 w-full h-full object-cover hidden md:block"
  />

  <div class="max-w-6xl mx-auto px-6 relative h-full flex items-center">

    <div class="border-2 border-white p-6 md:p-12 max-w-sm md:max-w-2xl">

      <h1 class="text-white text-3xl md:text-7xl font-[Josefin_Sans] uppercase leading-tight">
        Immersive experiences that deliver
      </h1>

    </div>

  </div>

</section>