<section class="max-w-6xl mx-auto px-6 py-24 grid md:grid-cols-2 gap-10 items-center">

  <div>
   <div>

  <img
    src="/images/mobile/image-interactive.jpg"
    alt="VR person"
    class="w-full md:hidden"
  />

  <img
    src="/images/desktop/image-interactive.jpg"
    alt="VR person"
    class="w-full hidden md:block"
  />

</div>
  </div>

  <div class="bg-white md:-ml-40 md:mt-40 md:p-12 text-center md:text-left">

    <h2 class="font-[Josefin_Sans] text-3xl md:text-5xl uppercase mb-6">
      The leader in interactive VR
    </h2>

    <p class="text-gray-500 leading-relaxed max-w-md mx-auto md:mx-0">
      Founded in 2011, Loopstudios has been producing world-class virtual reality
      projects for some of the best companies around the globe. Our award-winning
      creations have transformed businesses through digital experiences that bind
      to their brand.
    </p>

  </div>

</section>